<template>
    <div id="app">
        <h1>{{this.message}}</h1>
        <label for="username">Enter username</label>
        <input v-model="username" id="username" type="text"/>
        <button v-on:click="getEvents()">Get commits</button>
        <table border="1">
            <tr>
                <th>Message</th>
                <th>Url</th>
                <th>Sha</th>
                <th>Author name</th>
                <th>Author email</th>
            </tr>
            <tr v-for="event in events">
                <td>
                    {{event.message}}
                </td>
                <td>
                    {{event.url}}
                </td>
                <td>
                    {{event.sha}}
                </td>
                <td>
                    {{event.name}}
                </td>
                <td>
                    {{event.email}}
                </td>
            </tr>
        </table>
    </div>
</template>

<script>

    import api from './components/backend-api';

    export default {
        name: 'app',
        data() {
            return {
                username: 'iliakan', //default username for testing
                events: [],
                message: 'Getting last commits for given username'
            }
        },
        methods: {
            getEvents: function () {
                api.getEvents(this.username).then(response => response.data).then(data => {
                    this.events = data;
                    this.message = 'Commits were found =)';
                }).catch(error => {
                    if (error.response.status === 404) {
                        this.message = 'user with such name was not found';
                    } else {
                        console.log(error.response.message);
                        this.message = 'Sorry, some error happened';
                    }

                });
            }
        }
    }
</script>